.footer-section {
  background-color: rgb(6, 9, 25);
  padding: 0px 40px;
  text-align: center;
  border-top: 1px solid #ddd;
  position: relative;
  padding-bottom: 20px;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
}

.footer-logo {
  width: 100px;
  margin: 0 auto 20px auto;
}

.footer-columns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: gray;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.copyright {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}
